<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addlove.service.goods.dao.OrdThDao">
  <resultMap id="BaseResultMapHead" type="com.addlove.service.goods.model.OrdThHeadModel">
    <id column="BILLNO" jdbcType="VARCHAR" property="billNo" />
    <result column="LRDATE" jdbcType="TIMESTAMP" property="lrDate" />
    <result column="USERID" jdbcType="NUMERIC" property="userId" />
    <result column="USERCODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USERNAME" jdbcType="VARCHAR" property="userName" />
    <result column="ISNEEDTJWL" jdbcType="VARCHAR" property="isNeedTjwl" />
    <result column="TJDATE" jdbcType="TIMESTAMP" property="tjDate" />
    <result column="TJRID" jdbcType="NUMERIC" property="tjrId" />
    <result column="TJRCODE" jdbcType="VARCHAR" property="tjrCode" />
    <result column="TJRNAME" jdbcType="VARCHAR" property="tjrName" />
    <result column="JZDATE" jdbcType="TIMESTAMP" property="jzDate" />
    <result column="JZRID" jdbcType="NUMERIC" property="jzrId" />
    <result column="JZRCODE" jdbcType="VARCHAR" property="jzrCode" />
    <result column="JZRNAME" jdbcType="VARCHAR" property="jzrName" />
    <result column="JZTYPE" jdbcType="VARCHAR" property="jzType" />
    <result column="RPTDATE" jdbcType="VARCHAR" property="rptDate" />
    <result column="PRNTIMES" jdbcType="NUMERIC" property="prnTimes" />
    <result column="PRNDATE" jdbcType="TIMESTAMP" property="prnDate" />
    <result column="TIMEMARK" jdbcType="NUMERIC" property="timemark" />
    <result column="YWTYPE" jdbcType="VARCHAR" property="ywType" />
    <result column="YWIOTYPE" jdbcType="VARCHAR" property="ywIoType" />
    <result column="ZDRID" jdbcType="NUMERIC" property="zdrId" />
    <result column="ZDRCODE" jdbcType="VARCHAR" property="zdrCode" />
    <result column="ZDRNAME" jdbcType="VARCHAR" property="zdrName" />
    <result column="BILLTYPE" jdbcType="VARCHAR" property="billType" />
    <result column="REFBILLTYPE" jdbcType="VARCHAR" property="refBillType" />
    <result column="REFBILLNO" jdbcType="VARCHAR" property="refBillNo" />
    <result column="ORGCODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORGNAME" jdbcType="VARCHAR" property="orgName" />
    <result column="INORGCODE" jdbcType="VARCHAR" property="inOrgCode" />
    <result column="ZBORGCODE" jdbcType="VARCHAR" property="zbOrgCode" />
    <result column="ZBORGNAME" jdbcType="VARCHAR" property="zbOrgName" />
    <result column="DEPID" jdbcType="NUMERIC" property="depId" />
    <result column="DEPCODE" jdbcType="VARCHAR" property="depCode" />
    <result column="DEPNAME" jdbcType="VARCHAR" property="depName" />
    <result column="SUPCODE" jdbcType="VARCHAR" property="supCode" />
    <result column="SUPNAME" jdbcType="VARCHAR" property="supName" />
    <result column="CNTID" jdbcType="NUMERIC" property="cntId" />
    <result column="HTCODE" jdbcType="VARCHAR" property="htCode" />
    <result column="HTNAME" jdbcType="VARCHAR" property="htName" />
    <result column="JYMODE" jdbcType="VARCHAR" property="jyMode" />
    <result column="JSCODE" jdbcType="VARCHAR" property="jsCode" />
    <result column="PSCNTID" jdbcType="NUMERIC" property="psCntId" />
    <result column="PSHTCODE" jdbcType="VARCHAR" property="psHtCode" />
    <result column="PSHTNAME" jdbcType="VARCHAR" property="psHtName" />
    <result column="PSJYMODE" jdbcType="VARCHAR" property="psJyMode" />
    <result column="PSJSCODE" jdbcType="VARCHAR" property="psJsCode" />
    <result column="CKCODE" jdbcType="VARCHAR" property="ckCode" />
    <result column="CKNAME" jdbcType="VARCHAR" property="ckName" />
    <result column="BGRID" jdbcType="NUMERIC" property="bgrId" />
    <result column="BGYCODE" jdbcType="VARCHAR" property="bgyCode" />
    <result column="BGYNAME" jdbcType="VARCHAR" property="bgyName" />
    <result column="ISZDJPRICE" jdbcType="VARCHAR" property="isZdJPrice" />
    <result column="ISZT" jdbcType="VARCHAR" property="isZt" />
    <result column="DATASTATUS" jdbcType="VARCHAR" property="dataStatus" />
    <result column="THCOUNT" jdbcType="NUMERIC" property="thCount" />
    <result column="HCOST" jdbcType="NUMERIC" property="hCost" />
    <result column="WCOST" jdbcType="NUMERIC" property="wCost" />
    <result column="JTAXTOTAL" jdbcType="NUMERIC" property="jTaxTotal" />
    <result column="STOTAL" jdbcType="NUMERIC" property="sTotal" />
    <result column="CJTOTAL" jdbcType="NUMERIC" property="cjTotal" />
    <result column="PSCOST" jdbcType="NUMERIC" property="psCost" />
    <result column="THREASON" jdbcType="VARCHAR" property="thReason" />
    <result column="CKMODE" jdbcType="VARCHAR" property="ckMode" />
    <result column="WPSTOTAL" jdbcType="NUMERIC" property="wpsTotal" />
    <result column="XTAXTOTAL" jdbcType="NUMERIC" property="xTaxTotal" />
    <result column="WLAREACODE" jdbcType="VARCHAR" property="wlAreaCode" />
    <result column="WLAREANAME" jdbcType="VARCHAR" property="wlAreaName" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="LINKMAN" jdbcType="VARCHAR" property="linkMan" />
    <result column="LKMTEL" jdbcType="VARCHAR" property="lkmTel" />
    <result column="CURRCODE" jdbcType="VARCHAR" property="currCode" />
    <result column="ISSTDCURR" jdbcType="VARCHAR" property="isStdCurr" />
    <result column="EXCHANGERATE" jdbcType="NUMERIC" property="exchangeRate" />
    <result column="STLCURRPSCOST" jdbcType="NUMERIC" property="stlCurrPsCost" />
    <result column="ZBDEPID" jdbcType="NUMERIC" property="zbDepId" />
    <result column="ZBDEPCODE" jdbcType="VARCHAR" property="zbDepCode" />
    <result column="ZBDEPNAME" jdbcType="VARCHAR" property="zbDepName" />
    <result column="ZBCKCODE" jdbcType="VARCHAR" property="zbCkCode" />
    <result column="ZBCKNAME" jdbcType="VARCHAR" property="zbCkName" />
    <result column="MDBILLNO" jdbcType="VARCHAR" property="mdBillNo" />
    <result column="SHRID" jdbcType="NUMERIC" property="shrId" />
    <result column="SHRCODE" jdbcType="VARCHAR" property="shrCode" />
    <result column="SHRNAME" jdbcType="VARCHAR" property="shrName" />
    <result column="BILLSTATE" jdbcType="VARCHAR" property="billState" />
    <result column="APPLYBILLNO" jdbcType="VARCHAR" property="applyBillNo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REFTHBILLNO" jdbcType="VARCHAR" property="refThBillNo" />
    <result column="QRDATE" jdbcType="VARCHAR" property="qrDate" />
    <result column="QRTIME" jdbcType="VARCHAR" property="qrTime" />
    <result column="QROPINION" jdbcType="VARCHAR" property="qrOpinion" />
  </resultMap>
  
  <resultMap id="BaseResultMapBody" type="com.addlove.service.goods.model.OrdThBodyModel">
    <id column="BILLNO" jdbcType="VARCHAR" property="billNo" />
    <id column="SERIALNO" jdbcType="NUMERIC" property="serialNo" />
    <result column="PLUID" jdbcType="NUMERIC" property="pluId" />
    <result column="PLUCODE" jdbcType="VARCHAR" property="pluCode" />
    <result column="PLUNAME" jdbcType="VARCHAR" property="pluName" />
    <result column="EXPLUCODE" jdbcType="VARCHAR" property="exPluCode" />
    <result column="EXPLUNAME" jdbcType="VARCHAR" property="exPluName" />
    <result column="BARCODE" jdbcType="VARCHAR" property="barCode" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="CARGONO" jdbcType="VARCHAR" property="carGoNo" />
    <result column="PLUTYPE" jdbcType="VARCHAR" property="pluType" />
    <result column="DEPID" jdbcType="NUMERIC" property="depId" />
    <result column="DEPCODE" jdbcType="VARCHAR" property="depCode" />
    <result column="DEPNAME" jdbcType="VARCHAR" property="depName" />
    <result column="HJPRICE" jdbcType="NUMERIC" property="hjPrice" />
    <result column="WJPRICE" jdbcType="NUMERIC" property="wjPrice" />
    <result column="JTAXRATE" jdbcType="NUMERIC" property="jTaxRate" />
    <result column="PRICE" jdbcType="NUMERIC" property="price" />
    <result column="PSPRICE" jdbcType="NUMERIC" property="psPrice" />
    <result column="PACKUNIT" jdbcType="VARCHAR" property="packUnit" />
    <result column="PACKQTY" jdbcType="NUMERIC" property="packQty" />
    <result column="PACKCOUNT" jdbcType="NUMERIC" property="packCount" />
    <result column="SGLCOUNT" jdbcType="NUMERIC" property="sglCount" />
    <result column="THCOUNT" jdbcType="NUMERIC" property="thCount" />
    <result column="HCOST" jdbcType="NUMERIC" property="hCost" />
    <result column="WCOST" jdbcType="NUMERIC" property="wCost" />
    <result column="JTAXTOTAL" jdbcType="NUMERIC" property="jTaxTotal" />
    <result column="STOTAL" jdbcType="NUMERIC" property="sTotal" />
    <result column="CJTOTAL" jdbcType="NUMERIC" property="cjTotal" />
    <result column="CJRATE" jdbcType="NUMERIC" property="cjRate" />
    <result column="PSCOST" jdbcType="NUMERIC" property="psCost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="HJSTOTAL" jdbcType="NUMERIC" property="hjsTotal" />
    <result column="WJSTOTAL" jdbcType="NUMERIC" property="wjsTotal" />
    <result column="THREASON" jdbcType="VARCHAR" property="thReason" />
    <result column="WPSPRICE" jdbcType="NUMERIC" property="wpsPrice" />
    <result column="WPSTOTAL" jdbcType="NUMERIC" property="wpsTotal" />
    <result column="XTAXRATE" jdbcType="NUMERIC" property="xTaxRate" />
    <result column="XTAXTOTAL" jdbcType="NUMERIC" property="xTaxTotal" />
    <result column="KWCODE" jdbcType="VARCHAR" property="kwCode" />
    <result column="STLCURRPSPRICE" jdbcType="NUMERIC" property="stlCurrPsPrice" />
    <result column="STLCURRPSCOST" jdbcType="NUMERIC" property="stlCurrPsCost" />
    <result column="MATERIALCODE" jdbcType="VARCHAR" property="materialCode" />
    <result column="SUPCODE" jdbcType="VARCHAR" property="supCode" />
    <result column="SUPNAME" jdbcType="VARCHAR" property="supName" />
    <result column="UDP1" jdbcType="VARCHAR" property="udp1" />
    <result column="UDP2" jdbcType="VARCHAR" property="udp2" />
    <result column="UDP3" jdbcType="VARCHAR" property="udp3" />
  </resultMap>
  
  <sql id="Base_Column_List_Head">
    BILLNO, LRDATE, USERID, USERCODE, USERNAME, ISNEEDTJWL, TJDATE, TJRID, TJRCODE, TJRNAME, 
    JZDATE, JZRID, JZRCODE, JZRNAME, JZTYPE, RPTDATE, PRNTIMES, PRNDATE, TIMEMARK, YWTYPE, 
    YWIOTYPE, ZDRID, ZDRCODE, ZDRNAME, BILLTYPE, REFBILLTYPE, REFBILLNO, ORGCODE, ORGNAME, 
    INORGCODE, ZBORGCODE, ZBORGNAME, DEPID, DEPCODE, DEPNAME, SUPCODE, SUPNAME, CNTID, 
    HTCODE, HTNAME, JYMODE, JSCODE, PSCNTID, PSHTCODE, PSHTNAME, PSJYMODE, PSJSCODE, 
    CKCODE, CKNAME, BGRID, BGYCODE, BGYNAME, ISZDJPRICE, ISZT, DATASTATUS, THCOUNT, HCOST, 
    WCOST, JTAXTOTAL, STOTAL, CJTOTAL, PSCOST, THREASON, CKMODE, WPSTOTAL, XTAXTOTAL, 
    WLAREACODE, WLAREANAME, TELEPHONE, FAX, LINKMAN, LKMTEL, CURRCODE, ISSTDCURR, EXCHANGERATE, 
    STLCURRPSCOST, ZBDEPID, ZBDEPCODE, ZBDEPNAME, ZBCKCODE, ZBCKNAME, MDBILLNO, SHRID, 
    SHRCODE, SHRNAME, BILLSTATE, APPLYBILLNO, REMARK, REFTHBILLNO, QRDATE, QRTIME, QROPINION
  </sql>
  
  <sql id="Base_Column_List_Body">
    BILLNO, SERIALNO, PLUID, PLUCODE, PLUNAME, EXPLUCODE, EXPLUNAME, BARCODE, SPEC, UNIT, 
    CARGONO, PLUTYPE, DEPID, DEPCODE, DEPNAME, HJPRICE, WJPRICE, JTAXRATE, PRICE, PSPRICE, 
    PACKUNIT, PACKQTY, PACKCOUNT, SGLCOUNT, THCOUNT, HCOST, WCOST, JTAXTOTAL, STOTAL, 
    CJTOTAL, CJRATE, PSCOST, REMARK, HJSTOTAL, WJSTOTAL, THREASON, WPSPRICE, WPSTOTAL, 
    XTAXRATE, XTAXTOTAL, KWCODE, STLCURRPSPRICE, STLCURRPSCOST, MATERIALCODE, SUPCODE, 
    SUPNAME, UDP1, UDP2, UDP3
  </sql>
  
  <!-- 退货单分页列表 -->
  <select id="queryOrdThPage" resultMap="BaseResultMapHead">
    Select Distinct t.BILLNO,
                t.LRDATE,
                t.USERID,
                t.USERCODE,
                t.USERNAME,
                t.TJDATE,
                t.TJRID,
                t.TJRCODE,
                t.TJRNAME,
                t.JZDATE,
                t.JZRID,
                t.JZRCODE,
                t.JZRNAME,
                t.YWTYPE,
                t.ZDRID,
                t.ZDRCODE,
                t.ZDRNAME,
                t.BILLTYPE,
                t.REFBILLTYPE,
                t.REFBILLNO,
                t.ORGCODE,
                t.ORGNAME,
                t.INORGCODE,
                t.ZBORGCODE,
                t.ZBORGNAME,
                t.DEPID,
                t.DEPCODE,
                t.DEPNAME,
                t.SUPCODE,
                t.SUPNAME,
                t.CNTID,
                t.HTCODE,
                t.HTNAME,
                t.JYMODE,
                t.JSCODE,
                t.CKCODE,
                t.CKNAME,
                t.DATASTATUS,
                t.THCOUNT,
                t.HCOST,
                t.WCOST,
                t.JTAXTOTAL,
                t.STOTAL,
                t.CJTOTAL,
                t.PSCOST,
                t.THREASON,
                t.CKMODE,
                t.WPSTOTAL,
                t.XTAXTOTAL,
                t.TELEPHONE,
                t.FAX,
                t.LINKMAN,
                t.LKMTEL,
                t.REMARK,
                t.REFTHBILLNO
    From TORDTHHEAD t
    Where t.YWTYPE = #{queryModel.ywType,jdbcType=VARCHAR}
    <if test="queryModel.billNo != '' and queryModel.billNo != null">
        and t.BILLNO LIKE CONCAT(#{queryModel.billNo,jdbcType=VARCHAR},'%')
    </if>
    <if test="queryModel.startDate != '' and queryModel.startDate != null">
        and t.LRDATE &gt;= to_date(#{queryModel.startDate,jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')
    </if>
    <if test="queryModel.endDate != '' and queryModel.endDate != null">
        and t.LRDATE &lt;= to_date(#{queryModel.endDate,jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')
    </if>
     <if test="queryModel.dataStatus != null and queryModel.dataStatus != '' ">
        and t.DATASTATUS = #{queryModel.dataStatus,jdbcType=VARCHAR}
    </if>
    <if test="queryModel.depCode != null and queryModel.depCode != '' ">
        and t.DEPCODE = #{queryModel.depCode,jdbcType=VARCHAR}
    </if>
    <if test="queryModel.supCode != null and queryModel.supCode != '' ">
        and t.SUPCODE = #{queryModel.supCode,jdbcType=VARCHAR}
    </if>
    and t.ORGCODE = #{queryModel.orgCode,jdbcType=VARCHAR}
    Order By t.LRDATE Desc
  </select>
  
  <!-- 插入退货单主表 -->
  <insert id="insertOrdThHead" parameterType="com.addlove.service.goods.model.OrdThHeadModel">
    INSERT INTO TORDTHHEAD
    (
        BILLNO,
        LRDATE,
        USERID,
        USERCODE,
        USERNAME,
        YWTYPE,
        BILLTYPE
        ORGCODE,
        ORGNAME,
        INORGCODE,
        ZBORGCODE,
        DEPID,
        DEPCODE,
        DEPNAME,
        SUPCODE,
        SUPNAME,
        CNTID,
        HTCODE,
        HTNAME,
        JYMODE,
        JSCODE,
        CKCODE,
        CKNAME,
        DATASTATUS,
        THCOUNT,
        HCOST,
        WCOST,
        JTAXTOTAL,
        STOTAL,
        PSCOST,
        THREASON,
        WPSTOTAL,
        XTAXTOTAL,
        TELEPHONE,
        FAX,
        LINKMAN,
        LKMTEL,
        REMARK
    )
    VALUES
    (
        #{billNo,jdbcType=VARCHAR},
        to_date(#{lrDate,jdbcType=DATE},'yyyy-MM-dd HH24:mi:ss'),
        #{userId,jdbcType=NUMERIC},
        #{userCode,jdbcType=VARCHAR},
        #{userName,jdbcType=VARCHAR},
        #{ywType,jdbcType=VARCHAR},
        #{billType,jdbcType=VARCHAR},
        #{orgCode,jdbcType=VARCHAR},
        #{orgName,jdbcType=VARCHAR},
        #{inOrgCode,jdbcType=VARCHAR},
        #{zbOrgCode,jdbcType=VARCHAR},
        #{depId,jdbcType=NUMERIC},
        #{depCode,jdbcType=VARCHAR},
        #{depName,jdbcType=VARCHAR},
        #{supCode,jdbcType=VARCHAR},
        #{supName,jdbcType=VARCHAR},
        #{cntId,jdbcType=NUMERIC},
        #{htCode,jdbcType=VARCHAR},
        #{htName,jdbcType=VARCHAR},
        #{jyMode,jdbcType=VARCHAR},
        #{jsCode,jdbcType=VARCHAR},
        #{ckCode,jdbcType=VARCHAR},
        #{ckName,jdbcType=VARCHAR},
        #{dataStatus,jdbcType=VARCHAR},
        #{thCount,jdbcType=NUMERIC},
        #{hCost,jdbcType=NUMERIC},
        #{wCost,jdbcType=NUMERIC},
        #{jtaxTotal,jdbcType=NUMERIC},
        #{sTotal,jdbcType=NUMERIC},
        #{psCost,jdbcType=NUMERIC},
        #{thReason,jdbcType=VARCHAR},
        #{wpsTotal,jdbcType=NUMERIC},
        #{xTaxTotal,jdbcType=NUMERIC},
        #{telephone,jdbcType=VARCHAR},
        #{fax,jdbcType=VARCHAR},
        #{linkMan,jdbcType=VARCHAR},
        #{lkmTel,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR}
    )
  </insert>
  
  <!-- 批量插入退货单明细表 -->
  <insert id="insertOrdThBody">
     INSERT INTO TORDTHBODY
    (
        BILLNO,
        SERIALNO,
        PLUID,
        PLUCODE,
        PLUNAME,
        EXPLUCODE,
        BARCODE,
        SPEC,
        UNIT,
        CARGONO,
        PLUTYPE,
        DEPID,
        DEPCODE,
        DEPNAME,
        HJPRICE,
        WJPRICE,
        JTAXRATE,
        PRICE,
        PSPRICE,
        PACKUNIT,
        PACKQTY,
        PACKCOUNT,
        SGLCOUNT,
        THCOUNT,
        HCOST,
        WCOST,
        JTAXTOTAL,
        STOTAL,
        CJTOTAL,
        CJRATE,
        PSCOST,
        REMARK,
        HJSTOTAL,
        WJSTOTAL,
        THREASON
        WPSPRICE,
        WPSTOTAL,
        XTAXRATE,
        XTAXTOTAL,
        SUPCODE,
        SUPNAME
    )
    <foreach collection="bodys" item="body" separator="union all">
    (
        SELECT
          #{body.billNo,jdbcType=VARCHAR},
          #{body.serialNo,jdbcType=NUMERIC},
          #{body.pluId,jdbcType=VARCHAR},
          #{body.pluCode,jdbcType=VARCHAR},
          #{body.pluName,jdbcType=VARCHAR},
          #{body.exPluCode,jdbcType=VARCHAR},
          #{body.barCode,jdbcType=VARCHAR},
          #{body.spec,jdbcType=VARCHAR},
          #{body.unit,jdbcType=VARCHAR},
          #{body.carGoNo,jdbcType=VARCHAR},
          #{body.pluType,jdbcType=VARCHAR},
          #{body.depId,jdbcType=NUMERIC},
          #{body.depCode,jdbcType=VARCHAR},
          #{body.depName,jdbcType=VARCHAR},
          #{body.hjPrice,jdbcType=NUMERIC},
          #{body.wjPrice,jdbcType=NUMERIC},
          #{body.jTaxRate,jdbcType=NUMERIC},
          #{body.price,jdbcType=NUMERIC},
          #{body.psPrice,jdbcType=NUMERIC},
          #{body.packUnit,jdbcType=NUMERIC},
          #{body.packQty,jdbcType=NUMERIC},
          #{body.packCount,jdbcType=NUMERIC},
          #{body.sglCount,jdbcType=NUMERIC},
          #{body.thCount,jdbcType=NUMERIC},
          #{body.hCost,jdbcType=NUMERIC},
          #{body.wCost,jdbcType=NUMERIC},
          #{body.jTaxTotal,jdbcType=NUMERIC},
          #{body.sTotal,jdbcType=NUMERIC},
          #{body.cjTotal,jdbcType=NUMERIC},
          #{body.cjRate,jdbcType=NUMERIC},
          #{body.psCost,jdbcType=NUMERIC},
          #{body.remark,jdbcType=VARCHAR},
          #{body.hjsTotal,jdbcType=NUMERIC},
          #{body.wjsTotal,jdbcType=NUMERIC},
          #{body.thReason,jdbcType=VARCHAR},
          #{body.wPsPrice,jdbcType=NUMERIC},
          #{body.wPsTotal,jdbcType=NUMERIC},
          #{body.xTaxRate,jdbcType=NUMERIC},
          #{body.xTaxTotal,jdbcType=NUMERIC},
          #{body.supCode,jdbcType=VARCHAR},
          #{body.supName,jdbcType=VARCHAR}
        FROM DUAL
    )
    </foreach>
  </insert>
  
  <!-- 删除主表 -->
  <delete id="deleteThHeadModel" parameterType="java.lang.String">
    DELETE FROM TORDTHHEAD WHERE BILLNO = #{billNo,jdbcType=VARCHAR}
  </delete>
  
  <!-- 删除明细表 -->
  <delete id="deleteThBodyModel" parameterType="java.lang.String">
    DELETE FROM TORDTHBODY WHERE BILLNO = #{billNo,jdbcType=VARCHAR}
  </delete>
  
  <!-- 查询退货单详情 -->
  <select id="queryThDetailsByBillNo" resultType="java.util.HashMap">
    Select Distinct t.BILLNO,
                t.LRDATE,
                t.USERID,
                t.USERCODE,
                t.USERNAME,
                t.TJDATE,
                t.TJRID,
                t.TJRCODE,
                t.TJRNAME,
                t.JZDATE,
                t.JZRID,
                t.JZRCODE,
                t.JZRNAME,
                t.YWTYPE,
                t.ZDRID,
                t.ZDRCODE,
                t.ZDRNAME,
                t.BILLTYPE,
                t.REFBILLTYPE,
                t.REFBILLNO,
                t.ORGCODE,
                t.ORGNAME,
                t.INORGCODE,
                t.ZBORGCODE,
                t.ZBORGNAME,
                t.DEPID,
                t.DEPCODE,
                t.DEPNAME,
                t.SUPCODE,
                t.SUPNAME,
                t.CNTID,
                t.HTCODE,
                t.HTNAME,
                t.JYMODE,
                t.JSCODE,
                t.CKCODE,
                t.CKNAME,
                t.DATASTATUS,
                t.THCOUNT,
                t.HCOST,
                t.WCOST,
                t.JTAXTOTAL,
                t.STOTAL,
                t.CJTOTAL,
                t.PSCOST,
                t.THREASON,
                t.CKMODE,
                t.WPSTOTAL,
                t.XTAXTOTAL,
                t.TELEPHONE,
                t.FAX,
                t.LINKMAN,
                t.LKMTEL,
                t.REMARK,
                t.REFTHBILLNO,
                t1.SERIALNO,
                t1.PLUID,
                t1.PLUCODE,
                t1.PLUNAME,
                t1.EXPLUCODE,
                t1.BARCODE,
                t1.SPEC,
                t1.UNIT,
                t1.CARGONO,
                t1.PLUTYPE,
                t1.HJPRICE AS HJPRICE2,
                t1.WJPRICE AS WJPRICE2,
                t1.JTAXRATE AS JTAXRATE2,
                t1.PRICE AS PRICE2,
                t1.PSPRICE AS PSPRICE2,
                t1.PACKUNIT AS PACKUNIT2,
                t1.PACKQTY AS PACKQTY2,
                t1.PACKCOUNT AS PACKCOUNT2,
                t1.SGLCOUNT AS SGLCOUNT2,
                t1.THCOUNT AS THCOUNT2,
                t1.HCOST AS HCOST2,
                t1.WCOST AS WCOST2,
                t1.JTAXTOTAL AS JTAXTOTAL2,
                t1.STOTAL AS STOTAL2,
                t1.CJTOTAL AS CJTOTAL2,
                t1.CJRATE AS CJRATE2,
                t1.PSCOST AS PSCOST2,
                t1.REMARK AS REMARK2,
                t1.HJSTOTAL AS HJSTOTAL2,
                t1.WJSTOTAL AS WJSTOTAL2,
                t1.THREASON AS THREASON2,
                t1.WPSPRICE AS WPSPRICE2,
                t1.WPSTOTAL AS WPSTOTAL2,
                t1.XTAXRATE AS XTAXRATE2,
                t1.XTAXTOTAL AS XTAXTOTAL2
    From TORDTHHEAD t Left Join TORDTHBODY t1 On t.BILLNO = t1.BILLNO
    Where t.BILLNO = #{billNo,jdbcType=VARCHAR}
    Order By t1.SERIALNO
  </select>
</mapper>