<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addlove.service.goods.dao.OrdThDao">
  <resultMap id="BaseResultMapHead" type="com.addlove.service.goods.model.OrdThHeadModel">
    <id column="BILLNO" jdbcType="VARCHAR" property="billNo" />
    <result column="LRDATE" jdbcType="TIMESTAMP" property="lrDate" />
    <result column="USERID" jdbcType="NUMERIC" property="userId" />
    <result column="USERCODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USERNAME" jdbcType="VARCHAR" property="userName" />
    <result column="ISNEEDTJWL" jdbcType="VARCHAR" property="isNeedTjwl" />
    <result column="TJDATE" jdbcType="TIMESTAMP" property="tjDate" />
    <result column="TJRID" jdbcType="NUMERIC" property="tjrId" />
    <result column="TJRCODE" jdbcType="VARCHAR" property="tjrCode" />
    <result column="TJRNAME" jdbcType="VARCHAR" property="tjrName" />
    <result column="JZDATE" jdbcType="TIMESTAMP" property="jzDate" />
    <result column="JZRID" jdbcType="NUMERIC" property="jzrId" />
    <result column="JZRCODE" jdbcType="VARCHAR" property="jzrCode" />
    <result column="JZRNAME" jdbcType="VARCHAR" property="jzrName" />
    <result column="JZTYPE" jdbcType="VARCHAR" property="jzType" />
    <result column="RPTDATE" jdbcType="VARCHAR" property="rptDate" />
    <result column="PRNTIMES" jdbcType="NUMERIC" property="prnTimes" />
    <result column="PRNDATE" jdbcType="TIMESTAMP" property="prnDate" />
    <result column="TIMEMARK" jdbcType="NUMERIC" property="timemark" />
    <result column="YWTYPE" jdbcType="VARCHAR" property="ywType" />
    <result column="YWIOTYPE" jdbcType="VARCHAR" property="ywIoType" />
    <result column="ZDRID" jdbcType="NUMERIC" property="zdrId" />
    <result column="ZDRCODE" jdbcType="VARCHAR" property="zdrCode" />
    <result column="ZDRNAME" jdbcType="VARCHAR" property="zdrName" />
    <result column="BILLTYPE" jdbcType="VARCHAR" property="billType" />
    <result column="REFBILLTYPE" jdbcType="VARCHAR" property="refBillType" />
    <result column="REFBILLNO" jdbcType="VARCHAR" property="refBillNo" />
    <result column="ORGCODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORGNAME" jdbcType="VARCHAR" property="orgName" />
    <result column="INORGCODE" jdbcType="VARCHAR" property="inOrgCode" />
    <result column="ZBORGCODE" jdbcType="VARCHAR" property="zbOrgCode" />
    <result column="ZBORGNAME" jdbcType="VARCHAR" property="zbOrgName" />
    <result column="DEPID" jdbcType="NUMERIC" property="depId" />
    <result column="DEPCODE" jdbcType="VARCHAR" property="depCode" />
    <result column="DEPNAME" jdbcType="VARCHAR" property="depName" />
    <result column="SUPCODE" jdbcType="VARCHAR" property="supCode" />
    <result column="SUPNAME" jdbcType="VARCHAR" property="supName" />
    <result column="CNTID" jdbcType="NUMERIC" property="cntId" />
    <result column="HTCODE" jdbcType="VARCHAR" property="htCode" />
    <result column="HTNAME" jdbcType="VARCHAR" property="htName" />
    <result column="JYMODE" jdbcType="VARCHAR" property="jyMode" />
    <result column="JSCODE" jdbcType="VARCHAR" property="jsCode" />
    <result column="PSCNTID" jdbcType="NUMERIC" property="psCntId" />
    <result column="PSHTCODE" jdbcType="VARCHAR" property="psHtCode" />
    <result column="PSHTNAME" jdbcType="VARCHAR" property="psHtName" />
    <result column="PSJYMODE" jdbcType="VARCHAR" property="psJyMode" />
    <result column="PSJSCODE" jdbcType="VARCHAR" property="psJsCode" />
    <result column="CKCODE" jdbcType="VARCHAR" property="ckCode" />
    <result column="CKNAME" jdbcType="VARCHAR" property="ckName" />
    <result column="BGRID" jdbcType="NUMERIC" property="bgrId" />
    <result column="BGYCODE" jdbcType="VARCHAR" property="bgyCode" />
    <result column="BGYNAME" jdbcType="VARCHAR" property="bgyName" />
    <result column="ISZDJPRICE" jdbcType="VARCHAR" property="isZdJPrice" />
    <result column="ISZT" jdbcType="VARCHAR" property="isZt" />
    <result column="DATASTATUS" jdbcType="VARCHAR" property="dataStatus" />
    <result column="THCOUNT" jdbcType="NUMERIC" property="thCount" />
    <result column="HCOST" jdbcType="NUMERIC" property="hCost" />
    <result column="WCOST" jdbcType="NUMERIC" property="wCost" />
    <result column="JTAXTOTAL" jdbcType="NUMERIC" property="jTaxTotal" />
    <result column="STOTAL" jdbcType="NUMERIC" property="sTotal" />
    <result column="CJTOTAL" jdbcType="NUMERIC" property="cjTotal" />
    <result column="PSCOST" jdbcType="NUMERIC" property="psCost" />
    <result column="THREASON" jdbcType="VARCHAR" property="thReason" />
    <result column="CKMODE" jdbcType="VARCHAR" property="ckMode" />
    <result column="WPSTOTAL" jdbcType="NUMERIC" property="wpsTotal" />
    <result column="XTAXTOTAL" jdbcType="NUMERIC" property="xTaxTotal" />
    <result column="WLAREACODE" jdbcType="VARCHAR" property="wlAreaCode" />
    <result column="WLAREANAME" jdbcType="VARCHAR" property="wlAreaName" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="LINKMAN" jdbcType="VARCHAR" property="linkMan" />
    <result column="LKMTEL" jdbcType="VARCHAR" property="lkmTel" />
    <result column="CURRCODE" jdbcType="VARCHAR" property="currCode" />
    <result column="ISSTDCURR" jdbcType="VARCHAR" property="isStdCurr" />
    <result column="EXCHANGERATE" jdbcType="NUMERIC" property="exchangeRate" />
    <result column="STLCURRPSCOST" jdbcType="NUMERIC" property="stlCurrPsCost" />
    <result column="ZBDEPID" jdbcType="NUMERIC" property="zbDepId" />
    <result column="ZBDEPCODE" jdbcType="VARCHAR" property="zbDepCode" />
    <result column="ZBDEPNAME" jdbcType="VARCHAR" property="zbDepName" />
    <result column="ZBCKCODE" jdbcType="VARCHAR" property="zbCkCode" />
    <result column="ZBCKNAME" jdbcType="VARCHAR" property="zbCkName" />
    <result column="MDBILLNO" jdbcType="VARCHAR" property="mdBillNo" />
    <result column="SHRID" jdbcType="NUMERIC" property="shrId" />
    <result column="SHRCODE" jdbcType="VARCHAR" property="shrCode" />
    <result column="SHRNAME" jdbcType="VARCHAR" property="shrName" />
    <result column="BILLSTATE" jdbcType="VARCHAR" property="billState" />
    <result column="APPLYBILLNO" jdbcType="VARCHAR" property="applyBillNo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REFTHBILLNO" jdbcType="VARCHAR" property="refThBillNo" />
    <result column="QRDATE" jdbcType="VARCHAR" property="qrDate" />
    <result column="QRTIME" jdbcType="VARCHAR" property="qrTime" />
    <result column="QROPINION" jdbcType="VARCHAR" property="qrOpinion" />
  </resultMap>
  
  <resultMap id="BaseResultMapBody" type="com.addlove.service.goods.model.OrdThBodyModel">
    <id column="BILLNO" jdbcType="VARCHAR" property="billNo" />
    <id column="SERIALNO" jdbcType="NUMERIC" property="serialNo" />
    <result column="PLUID" jdbcType="NUMERIC" property="pluId" />
    <result column="PLUCODE" jdbcType="VARCHAR" property="pluCode" />
    <result column="PLUNAME" jdbcType="VARCHAR" property="pluName" />
    <result column="EXPLUCODE" jdbcType="VARCHAR" property="exPluCode" />
    <result column="EXPLUNAME" jdbcType="VARCHAR" property="exPluName" />
    <result column="BARCODE" jdbcType="VARCHAR" property="barCode" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="CARGONO" jdbcType="VARCHAR" property="carGoNo" />
    <result column="PLUTYPE" jdbcType="VARCHAR" property="pluType" />
    <result column="DEPID" jdbcType="NUMERIC" property="depId" />
    <result column="DEPCODE" jdbcType="VARCHAR" property="depCode" />
    <result column="DEPNAME" jdbcType="VARCHAR" property="depName" />
    <result column="HJPRICE" jdbcType="NUMERIC" property="hjPrice" />
    <result column="WJPRICE" jdbcType="NUMERIC" property="wjPrice" />
    <result column="JTAXRATE" jdbcType="NUMERIC" property="jTaxRate" />
    <result column="PRICE" jdbcType="NUMERIC" property="price" />
    <result column="PSPRICE" jdbcType="NUMERIC" property="psPrice" />
    <result column="PACKUNIT" jdbcType="VARCHAR" property="packUnit" />
    <result column="PACKQTY" jdbcType="NUMERIC" property="packQty" />
    <result column="PACKCOUNT" jdbcType="NUMERIC" property="packCount" />
    <result column="SGLCOUNT" jdbcType="NUMERIC" property="sglCount" />
    <result column="THCOUNT" jdbcType="NUMERIC" property="thCount" />
    <result column="HCOST" jdbcType="NUMERIC" property="hCost" />
    <result column="WCOST" jdbcType="NUMERIC" property="wCost" />
    <result column="JTAXTOTAL" jdbcType="NUMERIC" property="jTaxTotal" />
    <result column="STOTAL" jdbcType="NUMERIC" property="sTotal" />
    <result column="CJTOTAL" jdbcType="NUMERIC" property="cjTotal" />
    <result column="CJRATE" jdbcType="NUMERIC" property="cjRate" />
    <result column="PSCOST" jdbcType="NUMERIC" property="psCost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="HJSTOTAL" jdbcType="NUMERIC" property="hjsTotal" />
    <result column="WJSTOTAL" jdbcType="NUMERIC" property="wjsTotal" />
    <result column="THREASON" jdbcType="VARCHAR" property="thReason" />
    <result column="WPSPRICE" jdbcType="NUMERIC" property="wpsPrice" />
    <result column="WPSTOTAL" jdbcType="NUMERIC" property="wpsTotal" />
    <result column="XTAXRATE" jdbcType="NUMERIC" property="xTaxRate" />
    <result column="XTAXTOTAL" jdbcType="NUMERIC" property="xTaxTotal" />
    <result column="KWCODE" jdbcType="VARCHAR" property="kwCode" />
    <result column="STLCURRPSPRICE" jdbcType="NUMERIC" property="stlCurrPsPrice" />
    <result column="STLCURRPSCOST" jdbcType="NUMERIC" property="stlCurrPsCost" />
    <result column="MATERIALCODE" jdbcType="VARCHAR" property="materialCode" />
    <result column="SUPCODE" jdbcType="VARCHAR" property="supCode" />
    <result column="SUPNAME" jdbcType="VARCHAR" property="supName" />
    <result column="UDP1" jdbcType="VARCHAR" property="udp1" />
    <result column="UDP2" jdbcType="VARCHAR" property="udp2" />
    <result column="UDP3" jdbcType="VARCHAR" property="udp3" />
  </resultMap>
  
  <sql id="Base_Column_List_Head">
    BILLNO, LRDATE, USERID, USERCODE, USERNAME, ISNEEDTJWL, TJDATE, TJRID, TJRCODE, TJRNAME, 
    JZDATE, JZRID, JZRCODE, JZRNAME, JZTYPE, RPTDATE, PRNTIMES, PRNDATE, TIMEMARK, YWTYPE, 
    YWIOTYPE, ZDRID, ZDRCODE, ZDRNAME, BILLTYPE, REFBILLTYPE, REFBILLNO, ORGCODE, ORGNAME, 
    INORGCODE, ZBORGCODE, ZBORGNAME, DEPID, DEPCODE, DEPNAME, SUPCODE, SUPNAME, CNTID, 
    HTCODE, HTNAME, JYMODE, JSCODE, PSCNTID, PSHTCODE, PSHTNAME, PSJYMODE, PSJSCODE, 
    CKCODE, CKNAME, BGRID, BGYCODE, BGYNAME, ISZDJPRICE, ISZT, DATASTATUS, THCOUNT, HCOST, 
    WCOST, JTAXTOTAL, STOTAL, CJTOTAL, PSCOST, THREASON, CKMODE, WPSTOTAL, XTAXTOTAL, 
    WLAREACODE, WLAREANAME, TELEPHONE, FAX, LINKMAN, LKMTEL, CURRCODE, ISSTDCURR, EXCHANGERATE, 
    STLCURRPSCOST, ZBDEPID, ZBDEPCODE, ZBDEPNAME, ZBCKCODE, ZBCKNAME, MDBILLNO, SHRID, 
    SHRCODE, SHRNAME, BILLSTATE, APPLYBILLNO, REMARK, REFTHBILLNO, QRDATE, QRTIME, QROPINION
  </sql>
  
  <sql id="Base_Column_List_Body">
    BILLNO, SERIALNO, PLUID, PLUCODE, PLUNAME, EXPLUCODE, EXPLUNAME, BARCODE, SPEC, UNIT, 
    CARGONO, PLUTYPE, DEPID, DEPCODE, DEPNAME, HJPRICE, WJPRICE, JTAXRATE, PRICE, PSPRICE, 
    PACKUNIT, PACKQTY, PACKCOUNT, SGLCOUNT, THCOUNT, HCOST, WCOST, JTAXTOTAL, STOTAL, 
    CJTOTAL, CJRATE, PSCOST, REMARK, HJSTOTAL, WJSTOTAL, THREASON, WPSPRICE, WPSTOTAL, 
    XTAXRATE, XTAXTOTAL, KWCODE, STLCURRPSPRICE, STLCURRPSCOST, MATERIALCODE, SUPCODE, 
    SUPNAME, UDP1, UDP2, UDP3
  </sql>
  
</mapper>